
<div class="search-form">
   <form  action="{{ path('api_movies')}}" method="get">
     <i class ="fas fa-search"></i>
     <input type="text" name="query" id="query" placeholder="Rechercher Un Film" />
     <button type="submit">Rechercher</button>
   </form>
</div>
<div id="result"></div>
